---
interface Props {
    id: string;
    aspectMode?: 'stretch' | 'cover';
}

const { id, aspectMode = 'stretch' } = Astro.props;
const gradientId = `grid-gradient-${id}`;
const maskId = `grid-mask-${id}`;
const preserveAspectRatio =
    aspectMode === 'cover' ? 'xMidYMid slice' : 'none';
---

<div class='animated-grid' data-gradient-id={gradientId}>
    <svg
        viewBox='0 0 1440 900'
        preserveAspectRatio={preserveAspectRatio}
        fill='none'
        xmlns='http://www.w3.org/2000/svg'
    >
        <mask
            id={maskId}
            style='mask-type:alpha'
            maskUnits='userSpaceOnUse'
            x='0'
            y='0'
            width='1440'
            height='900'
        >
            <rect width='1440' height='900' fill={`url(#${gradientId})`}></rect>
        </mask>
        <g mask={`url(#${maskId})`}>
            <path
                d='M-10.8168 1260.96C-7.28731 827.4 -5.85183 393.824 -2.38987 -39.7378C481.709 -36.1578 965.817 -33.8885 1449.92 -30.3286C1448.04 403.244 1445.23 836.81 1441.49 1270.37C957.384 1267.76 473.282 1264.62 -10.8168 1260.96Z'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M1372.37 1269.92C1373.99 1148.41 1342.73 1023.7 1368.35 903.065C1389.74 802.37 1401.91 714.159 1385.03 611.744C1377.25 564.544 1375.69 520.107 1375.15 472.53C1374.58 423.924 1361.87 377.539 1353.82 329.732C1333.01 205.996 1381.87 91.6845 1380.93 -30.7941'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M1303.17 1269.48C1297.62 1139.51 1218.78 987.704 1290.21 865.049C1318.08 817.152 1360.85 770.078 1368.91 714.813C1375.51 669.763 1356.79 632.999 1334.47 594.235C1310.36 552.313 1305.68 520.359 1297.83 474.086C1289.87 427.046 1257.83 392.656 1234.45 351.324C1162.07 223.522 1296.9 95.611 1311.6 -31.2231'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M1233.98 1269.03C1225.55 1180.52 1195.18 1095.89 1174.37 1009.38C1155.8 932.14 1152.79 885.878 1211.84 825.397C1254.41 781.79 1326.35 736.922 1343.24 677.338C1356.33 631.039 1319.86 602.569 1284.74 575.984C1270.99 565.549 1255.6 555.911 1244.43 542.871C1225.61 520.566 1228.94 500.703 1220.09 475.861C1202.59 427.73 1151.3 407.05 1113.1 373.89C1054.88 323.258 1071.3 273.835 1106.82 212.738C1153.87 131.892 1221.01 59.1214 1242.41 -31.5911'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M1164.83 1268.58C1155 1173.13 1116.27 1082.93 1090.35 990.402C1067.11 907.346 1063.08 861.602 1135.83 802.783C1185.9 762.31 1279.54 719.317 1299.81 656.084C1315.9 605.55 1267.96 584.044 1226.49 565.504C1209.61 557.953 1189.9 551.796 1175.72 540.068C1150.64 519.335 1158.14 501.637 1147.11 476.095C1125.41 425.961 1059.25 413.352 1013.15 386.998C938.24 344.162 963.783 287.276 1004.79 227.041C1062.45 142.372 1148.26 66.738 1173.24 -32.018'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M1095.71 1268.13C1086.58 1172.58 1046.38 1082.6 1020.03 990.187C1009.86 954.506 991.298 906.49 1005.05 869.513C1015.08 842.675 1043.19 821.178 1066.16 803.721C1117.75 764.489 1215.09 724.019 1235.5 660.042C1253.47 603.691 1197.15 587.193 1150.73 572.009C1131.11 565.59 1107.16 561.139 1090.23 549.252C1062.73 529.896 1069.39 513.14 1059.28 486.333C1041.37 438.947 991.995 409.627 956.833 373.361C942.137 358.202 924.511 340.099 917.816 320.372C904.691 281.749 932.803 241.96 953.795 209.689C1005.99 129.582 1080.17 59.7007 1103.98 -32.5288'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M1026.54 1267.68C1017.27 1173.08 976.55 1084.33 949.807 992.918C939.585 958.044 920.241 909.639 934.931 873.515C945.708 847.066 975.495 826.749 999.175 810.547C1051.2 774.887 1156.01 737.289 1176.8 674.383C1197.58 611.476 1106.56 601.852 1060.23 593.949C996.393 583.069 947.385 577.811 939.605 513.469C932.53 455.06 927.958 396.184 921.74 337.66C915.097 275.101 907.842 220.18 938.983 161.172C973.543 95.834 1022.76 40.2911 1034.95 -33.0167'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M957.394 1267.24C947.867 1173.74 906.596 1086.37 879.415 996.315C869.187 962.409 848.9 913.575 864.709 878.507C876.429 852.527 908.188 833.615 932.648 818.83C980.279 789.957 1104.72 750.773 1119.65 691.196C1136.96 622.197 1013.2 623.573 966.408 619.62C910.708 614.923 800.853 617.317 812.808 544.572C826.661 460.406 864.21 378.55 890.969 297.391C902.2 263.382 914.294 228.229 920.916 193.182C926.465 163.896 924.401 134.943 931.975 105.871C944.514 57.7743 965.381 17.0314 965.866 -33.5234'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M888.217 1266.79C878.64 1173.96 836.889 1087.68 809.411 998.484C799.134 965.142 778.421 915.983 794.632 881.421C806.846 855.627 839.95 837.711 864.921 823.938C912.377 797.665 1043.75 761.309 1058.61 702.377C1077.1 629.554 925.343 638.412 880.568 636.589C827.599 634.451 685.183 643.935 703.136 566.449C727.227 462.465 800.869 363.681 849.785 268.428C884.221 201.395 913.519 141.791 906.122 67.1257C902.783 33.4055 898.924 -0.156744 896.712 -33.9907'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M819.069 1266.34C809.653 1173.13 767.207 1086.38 739.437 996.819C728.939 962.951 708.224 914.094 725.158 879.154C737.414 853.884 768.78 836.562 793.524 823.13C840.277 797.721 965.438 764.893 980.291 707.071C998.425 636.484 852.691 640.218 807.363 636.799C753.933 632.762 618.978 637.595 633.021 562.363C652.171 460.02 739.921 362.659 792.247 272.994C828.498 210.712 866.639 145.216 849.475 73.0284C840.575 35.622 827.399 4.98409 827.428 -34.3408'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M749.922 1265.89C739.911 1170.5 696.151 1081.6 667.45 989.939C644.815 917.616 630.169 863.636 708.69 821.351C752.708 797.638 850.848 775.223 865.738 722.14C883.784 658.106 773.94 641.544 727.358 630.009C675.449 617.149 572.869 601.964 588.502 534.91C608.328 449.875 700.702 375.594 754.083 307.252C801.198 246.936 830.973 193.687 806.729 119.619C789.329 66.4883 761.382 21.759 758.326 -34.8487'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M680.758 1265.44C669.843 1167.26 624.591 1075.69 594.781 981.363C575.341 919.97 550.674 859.028 618.346 819.677C658.239 796.482 723.541 789.282 738.194 741.582C755.514 685.227 686.451 647.431 644.039 621.383C600.82 594.886 531.98 557.374 551.442 500.69C573.819 435.414 671.959 392.228 724.988 350.423C746.829 333.181 777.653 309.221 787.931 283.393C801.093 250.244 783.699 210.1 771.065 179.062C741.831 107.2 699.156 41.8863 689.14 -35.2356'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M611.58 1265C600.093 1164.61 553.549 1070.92 522.74 974.483C507.004 925.214 474.129 852.199 533.526 817.918C568.943 797.476 611.29 798.779 623.655 756.67C638.668 705.504 594.221 652.964 564.026 614.613C536.243 579.343 483.779 520.055 506.892 473.257C533.314 419.765 634.726 406.688 686.816 384.782C708.83 375.506 740.511 361.797 752.109 340.636C769.974 308.062 741.267 255.503 728.31 225.733C690.593 138.873 635.253 57.7467 620.074 -35.6026'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M542.46 1264.55C531.986 1164.31 483.182 1071.73 451.536 975.917C434.796 925.25 405.893 857.767 460.77 819.22C492.121 797.24 530.906 792.228 541.966 753.317C555.79 705.007 514.793 648.274 489.896 608.909C467.251 573.047 417.87 507.084 438.777 463.74C464.476 410.505 570.783 406.636 622.48 389.688C645.654 382.095 676.168 371.261 688.353 349.943C706.869 317.615 676.946 261.66 663.985 232.475C624.39 143.485 563.771 60.5502 550.886 -36.0311'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M473.291 1264.1C462.032 1170.33 407.827 1087.76 372.615 1000.11C346.666 935.571 338.448 886.734 377.089 827.392C403.04 787.549 444.28 751.033 452.199 703.47C460.912 651.638 426.564 611.263 395.23 571.473C370.082 539.568 318.676 483.816 338.252 440.827C363.24 386.135 480.175 375.378 532.293 356.053C555.316 347.53 588.359 335.443 600.704 313.742C617.924 283.422 593.5 230.165 581.002 202.436C544.82 121.998 487.401 52.4948 481.627 -36.4174'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M404.12 1263.65C390.078 1178.96 329.587 1110.83 289.412 1035.02C251.795 963.995 260.503 909.36 285.967 836.924C309.48 770.103 345.25 702.191 352.777 631.657C358.435 578.574 327.925 550.567 288.226 516.026C258.58 490.182 205.956 448.721 224.071 405.298C233.22 383.416 267.095 368.148 287.76 358.581C336.318 336.007 388.52 321.159 437.52 299.899C461.523 289.507 499.52 274.083 512.597 250.573C528.135 222.662 511.716 177.967 498.62 152.311C464.979 86.3092 412.411 39.5852 412.388 -36.8871'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M334.951 1263.2C318.928 1185.28 252.696 1130.98 207.996 1065.43C159.147 993.765 180.136 923.802 197.935 845.832C218.79 754.733 250.6 662.031 257.329 568.743C261.262 514.318 233.69 495.082 186.445 467.853C151.92 447.947 98.1366 418.538 117.392 372.904C127.889 347.986 168.893 327.137 191.602 314.902C246.579 285.149 306.193 262.747 361.928 234.209C424.577 202.086 486.447 157.959 434.715 90.0246C397.54 41.2021 344.811 29.7688 343.219 -37.4169'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M265.78 1262.76C249.748 1186.22 182.122 1138.53 135.621 1076.38C82.982 1005.94 108.878 929.331 123.954 851.081C143.247 750.917 171.848 649.441 179.735 547.731C183.914 493.631 156.396 476.452 107.573 452.984C68.582 434.239 16.4624 408.673 40.7805 360.107C55.7911 330.136 103.256 302.613 131.064 285.37C193.802 246.431 261.561 214.502 325.079 176.678C371.441 149.087 495.33 76.3822 403.672 29.5663C362.467 8.5276 278.01 21.5526 274.23 -38.0041'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M196.607 1262.31C182.639 1190.42 129.742 1138.86 92.3173 1076.42C50.4376 1006.51 69.6706 936.517 82.4504 861.6C98.0333 771.092 120.737 679.823 127.275 588.228C130.842 538.157 108.455 514.477 69.2547 482.844C35.1616 455.338 -4.9561 422.791 18.8444 377.65C34.985 347.041 73.7418 318.555 101.529 297.519C154.977 257.189 213.408 222.518 267.638 183.06C315.533 148.24 421.44 77.4352 334.259 31.3743C291.757 8.91551 220.775 13.4973 205.215 -38.6538'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M127.507 1261.86C121.949 1195.27 88.6039 1139.17 66.3332 1076.77C43.4429 1012.7 53.2232 948.933 61.6413 883.426C76.6493 766.96 114.971 645.804 55.1085 536.294C34.2128 498.003 11.4222 456.776 25.5984 413.086C48.9661 340.92 129.304 285.901 180.464 230.189C224.685 182.075 265.822 130.171 219.456 71.5884C188.188 31.9599 150.044 11.183 136.069 -38.8806'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M58.4031 1261.41C59.5287 1198.9 46.1371 1138.86 38.6786 1077.1C31.776 1019.92 35.1494 961.483 38.7857 904.172C45.4872 797.776 55.2149 693.476 38.5853 587.554C31.2971 541.224 24.9334 494.698 28.232 447.812C32.2994 390 62.7212 337.723 83.1115 283.728C125.107 172.478 70.9706 72.3424 66.7847 -39.2269'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-2.83353 22.2542C77.1513 21.7439 153.839 1.87248 233.108 -2.8573C291.315 -6.31186 342.248 14.7091 398.064 25.8397C509.943 48.1833 624.18 50.6175 735.614 26.9781C788.309 15.8043 837.239 8.88135 891.717 11.0291C942.346 13.031 986.821 26.3872 1035.94 36.1636C1170.06 62.7047 1313.93 29.8979 1449.59 31.6238'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-3.18928 84.1495C96.1262 75.0322 184.895 32.4708 282.166 15.7173C326.417 8.0986 339.862 11.251 371.366 35.1308C392.787 51.403 410.569 66.4013 434.869 79.7074C491.435 110.687 559.322 135.327 626.148 139.632C684.174 143.396 719.654 120.071 762.03 89.1072C800.718 60.8219 841.81 29.7894 896.107 39.0347C943.679 47.1474 957.505 81.7827 989.234 109.274C1036.86 150.44 1104.62 135.552 1164.3 127.953C1259.22 115.843 1353.06 97.0303 1449.12 93.4983'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-3.51937 146.018C115.748 126.181 217.238 63.0104 332.722 32.8834C381.938 20.0535 399.403 17.8878 417.26 59.5066C429.016 86.9289 451.01 112.159 473.731 132.795C524.366 179.023 600.59 227.171 674.427 237.148C738.096 245.768 764.774 194.274 789.598 151.177C807.543 120.035 845.632 45.1604 900.487 65.6422C947.12 83.0255 931.246 148.928 940.62 182.708C960.951 255.944 1044.95 226.117 1108.8 214.572C1221.97 194.049 1333.42 164.521 1448.63 155.507'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-3.95193 207.97C129.243 182.939 240.061 104.906 367.342 64.5299C426.775 45.6558 432.064 53.0912 440.758 101.306C446.667 134.579 467.622 167.304 490.352 193.547C538.205 248.529 620.535 310.127 701.191 320.632C772.466 329.927 788.718 261.203 804.904 213.251C814.317 185.361 843.88 77.8417 904.131 106.607C950.912 128.952 912.699 219.394 911.471 252.661C908.237 341.717 1009.76 304.824 1075.6 291.295C1199.36 265.88 1321.44 228.133 1448.22 217.439'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-4.23668 269.932C118.459 249.209 213.076 172.886 327.762 133.82C378.832 116.384 392.22 117.983 405.939 162.136C415.667 193.458 439.322 222.853 462.967 246.843C514.219 298.661 597.692 360.952 677.873 371.898C742.306 380.705 763.749 324.054 782.048 280.068C794.832 249.699 825.879 166.975 881.418 189.478C926.223 207.656 911.479 279.757 919.912 312.744C939.675 390.353 1021.7 359.464 1089.86 346.273C1208.9 323.248 1326.2 289.966 1447.78 279.481'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-4.7525 331.887C88.3897 316.357 145.125 251.606 224.977 212.536C264.327 193.27 270.453 199.985 294.867 226.944C316.689 251.464 341.524 273.705 368.903 293.248C432.828 338.674 517.635 389.762 600.926 400.223C650.761 406.495 679.617 387.363 710.911 356.892C790.811 279.122 858.51 329.494 941.289 373.772C1003.85 407.25 1064.31 397.458 1134.22 386.819C1238.56 370.978 1341.64 347.265 1447.51 341.316'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-5.31089 393.832C64.345 381.901 64.9067 329.955 109.036 292.408C147.256 259.986 219.502 320.833 258.566 338.853C336.244 374.668 423.122 415.342 511.562 423.619C550.808 427.282 589.518 430.356 628.571 436.114C740.555 452.691 852.113 441.031 965.028 435.531C1038.26 431.972 1112.14 430.696 1185.07 424.373C1272.49 416.872 1359.22 403.842 1447.24 403.222'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-5.71105 455.768C58.1765 461.808 14.9518 394.453 24.8181 369.551C42.3283 325.641 153.286 375.546 187.441 386.436C272.718 413.648 360.97 450.944 452.113 458.935C506.282 463.683 534.59 476.934 573.04 509.652C609.698 540.986 641.486 562.912 695.337 557.493C792.541 547.676 888.551 516.939 982.946 495.67C1133.11 461.855 1292.23 462.866 1446.75 465.138'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-6.06843 517.72C58.7867 527.336 10.695 453.537 17.6246 430.088C32.8198 378.58 154.482 427.103 190.074 438.687C275.775 466.568 360.768 506.242 451.842 517.964C506.986 525.077 536.853 537.613 580.045 568.365C620.278 597 655.294 621.003 709.568 616.535C807.12 608.475 903.637 572.438 997.19 549.146C1147.38 511.802 1292.61 529.24 1446.26 527.15'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-6.44584 579.667C61.5039 584.302 32.5462 500.967 48.8349 468.342C78.8795 408.258 180.977 459.78 226.651 479.254C308.119 513.924 390.262 566.063 480.669 580.08C536.591 588.771 589.017 594.758 644.004 608.747C696.675 622.136 752.228 639.173 807.738 634.854C891.996 628.281 974.499 597.033 1055.13 576.683C1126.29 558.712 1191.9 548.307 1265.48 560.803C1326.36 571.12 1383.16 587.339 1445.82 589.076'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-6.77414 641.544C70.2619 623.51 56.5795 552.737 88.5795 500.168C131.595 429.541 219.828 483.554 274.281 513.956C349.599 556.027 429.226 624.606 518.576 641.782C582.603 654.095 661.779 642.932 727.351 642.63C795.828 642.328 866.512 645.549 934.796 640.264C1002.58 635.036 1067.03 610.407 1131.76 593.624C1189.78 578.592 1250.5 565.776 1307.12 592.078C1356.08 614.84 1387.62 644.367 1445.56 650.954'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-7.16128 703.478C76.0479 681.451 79.6798 597.016 119.803 538.409C172.451 461.472 251.078 514.152 310.915 554.531C381.873 602.362 458.064 683.442 547.46 703.946C618.015 720.093 720.335 692.139 791.368 683.06C872.047 672.753 952.206 666.255 1033.02 658.631C1088.02 653.442 1137.03 634.782 1189.76 621.209C1238.28 608.697 1298.92 594.308 1339.76 629.965C1378.83 664.078 1383.88 702.407 1445.05 712.947'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-7.57676 765.383C74.8521 742.14 83.0732 658.38 125.198 600.029C179.934 524.133 254.971 574.915 316.493 615.889C387.633 663.278 461.829 739.545 549.998 761.856C621.643 779.986 727.766 748.891 799.508 738.183C882.452 725.774 963.905 717.69 1047.22 709.942C1098.77 705.133 1144.71 688.39 1194.19 675.945C1241.55 664.031 1303.08 649.224 1341.5 685.672C1379.93 722.12 1380.78 765.121 1444.8 774.853'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-7.9791 827.396C66.4393 810.233 69.0825 749.81 110.286 701.616C160.201 643.456 235.394 680.546 295.648 705.217C368.995 735.277 443.043 778.772 523.156 793.166C594.386 805.969 682.691 786.314 754.186 779.034C830.795 771.241 906.954 766.935 983.617 761.301C1036.45 757.429 1085.78 743.51 1137.3 733.398C1193.28 722.386 1248.6 713.367 1298.04 745.894C1349.61 779.826 1375.98 826.945 1444.37 836.866'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-8.43457 889.355C53.432 884.109 49.7483 851.415 89.1075 820.311C130.255 787.807 213.266 803.187 264.504 804.971C405.633 809.919 545.678 811.935 686.901 809.382C811.301 807.122 929.334 804.055 1052.4 788.175C1117.58 779.764 1175.56 776.086 1235.86 805.214C1306 839.126 1362.2 888.091 1443.87 898.724'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-8.85386 951.362C30.8621 955.552 39.3929 942.156 70.5555 931.932C94.1364 924.179 121.435 930.003 146.052 925.665C177.048 920.239 208.098 910.055 237.68 900.445C306.751 878.003 376.355 846.289 449.405 835.267C506.317 826.641 571.492 839.143 628.743 844.153C748.422 854.648 859.598 853.513 979.158 844.144C1051.25 838.561 1113.37 838.601 1181.45 864.976C1268.83 898.817 1347.31 949.037 1443.41 960.711'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
            <path
                d='M-9.2353 1013.21C75.5154 1013.9 153.072 1012.87 230.05 975.918C295.983 944.26 362.66 895.143 438.392 883.715C493.253 875.419 555.983 889.881 610.288 897.957C727.67 915.416 837.826 911.753 956.04 905.098C1029.97 900.938 1091.46 901.942 1162.02 927.022C1255.32 960.317 1342.53 1009.34 1443.07 1022.6'
                stroke='#FEE97D'
                stroke-width='0.5'
                stroke-miterlimit='10'></path>
        </g>
        <defs>
            <radialGradient
                id={gradientId}
                cx='80%'
                cy='15%'
                r='300'
                gradientUnits='userSpaceOnUse'
            >
                <stop stop-color='#9500DC' stop-opacity='1'></stop>
                <stop offset='1' stop-color='#220032' stop-opacity='0'></stop>
            </radialGradient>
        </defs>
    </svg>
</div>

<style>
    .animated-grid {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .animated-grid svg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
